GaussianSplatting/output.ply
GaussianSplatting/renders/
GaussianSplatting/CLAME.md
GaussianSplatting/renders_bike
GaussianSplatting/scenes
CLAUDE.md
GaussianSplatting/renders_kitchen
GaussianSplatting/output_bike.ply
GaussianSplatting/output_kitchen.ply